body{
  background-color: #fcdbdb;

}

.center{
    text-align: center;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:48px;
  font-weight: 900;
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:30px;
  font-weight: 900;
  line-height: 20px;
}

 form {
   width: 550px;
   height: 450px;
   margin: auto;
   position: relative;
 }

 input {
   width: 25px;
   height: 20px;
   margin-left: 20px;
 }

input#step1 {
   width: 375px;
   height: 200px;
 }

input#step2 {
   width: 375px;
   height: 200px;
 }

input#step3 {
   width: 375px;
   height: 200px;
 }

input#step4 {
   width: 375px;
   height: 200px;
 }
